:root {
    --fs-title: clamp(1.5rem, 8vw + 1rem, 9rem);
}

body {
    background-color: #141414;
    color: white;
    margin: 0;
}
title { display: inline-block; }

#title-container {
    display: flex;
    height: 100vh;
    height: 100dvh; /* Better mobile support */
    justify-content: center;
    align-items: center;
}

#title-container * {
    display: inline;
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-size: var(--fs-title);
}

#title::before {
    content: '>';
    margin-right: 1ch;
}

#title::after {
    content: '▋';
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    } 49.9% {
        opacity: 0;
    } 50% {
        opacity: 1;
    }
}

#buffer {
    opacity: 0;
}