:root {
    --button-grid-gap: 1rem;
    --button-width: 14rem;
}

body {
    background-color: #141414;
    color: white;
    margin: 0;
}

#selection-container {
    display: flex;
    height: 100vh;
    height: 100dvh; /* Better mobile support */
    justify-content: center;
    align-items: center;
}

#selection-container #button-grid {
    display: grid;
    gap: var(--button-grid-gap);
    grid-template-columns: 1fr;
}

@media (min-width: calc(14rem*2 + 1rem*3)) {
    #selection-container #button-grid {
        grid-template-columns: 1fr 1fr;
    }
}

#selection-container #button-grid a {
    color: white;
    text-decoration: none;
}

#selection-container #button-grid .button {
    display: grid;
    width: min(var(--button-width), calc(100vw - 2 * var(--button-grid-gap)));
    height: 16rem;
    border-radius: var(--button-grid-gap);
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 1.5px solid rgba(255, 255, 255, 0.25);
    border-left: 1.5px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    transition: background-color 0.2s ease-in-out;
}

#selection-container #button-grid .button:hover {
    background-color: rgba(25, 25, 25, 0.25);
}

#selection-container #button-grid .button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

#selection-container #button-grid .button .label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-size: 2rem;
}